WORDPRESS_URL=http://localhost:10005
NEXT_PUBLIC_WORDPRESS_URL=http://localhost:10005
NEXT_PUBLIC_SITE_NAME=Tripanza
NEXT_PUBLIC_SITE_URL=http://localhost:3000
NEXT_PUBLIC_WHATSAPP_NUMBER=919999999999
